
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: grey;
    color: white;
    font-weight: bold;
}
.author {
    color: blue;
    font-weight: bold;
    text-transform: uppercase;
}
td {
    background-color: #f4f4f4;
    color: #333;
}

td:nth-child(odd) {
    background-color: #e2e2e2;
}
